@import 'tailwindcss';
/* Стилизация скроллбаров для всех элементов */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #a3a3a3;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: #737373;
}

::-webkit-scrollbar-track {
	background: transparent;
}

/* Для Firefox */
* {
	scrollbar-width: thin;
	scrollbar-color: #a3a3a3 transparent;
}
