node_modules
dist
logs
.git
.gitignore
README.md
.env
.env.local
.env.production
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
bun-debug.log*
docker-compose.yaml
nodemon.json
tsconfig.json
tsconfig.test.json
setup.ps1
setup.sh
